In [1]:
# For completing quizs in course Introduction to Date Science in Python

In [2]:
import numpy as np
import pandas as pd

In [11]:
frames = ['P2010', 'P2011', 'P2012', 'P2013','P2014', 'P2015']
df = pd.DataFrame(np.random.randint(0,1000,size = (4,6)),columns=frames)
df

   P2010  P2011  P2012  P2013  P2014  P2015
0    608    607    266    475    252     95
1    125    901    931    349    218    710
2    973    282    103    180    281     42
3    983    311    340    894    304    192

In [12]:
df['AVG'] = df[frames].apply(lambda z: np.mean(z), axis = 1).astype(int)

In [16]:
result_df = df.drop(frames,axis = 1)
result_df

   AVG
0  383
1  539
2  310
3  504

In [18]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], 
                  index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], 
                  columns = ['Grades'])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [20]:
my_category = pd.api.types.CategoricalDtype(['D', 'D+', 'C-', 'C', 'C+', 'B-', 
                                             'B', 'B+', 'A-', 'A', 'A+'], ordered=True)

In [27]:
df['Grades'] = df['Grades'].astype(my_category)
result = df[(df['Grades']<'A')&(df['Grades']>'B')]
result

          Grades
excellent     A-
good          B+

In [33]:
print(pd.Timestamp('11/29/2019').weekday())
print((pd.Timestamp('11/29/2019')+pd.offsets.MonthEnd()).weekday())

4
5

In [34]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')