In [1]:
# File to complete assignments in week 3

In [1]:
import pandas as pd
import numpy as np
# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
#import warnings
#warnings.filterwarnings('ignore')

In [5]:
ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [51]:
Energy = pd.read_excel('assets/Energy Indicators.xls',sheet_name='Energy',
                       header=17,skipfooter=38,usecols= [2,3,4,5])
Energy.fillna(np.nan)
Energy['Energy Supply']= Energy['Petajoules'].map(lambda x : x if type(x) == int else np.nan)
Energy['Energy Supply per Capita'] = Energy['Gigajoules'].map(lambda x : x if type(x) == int else np.nan)
Energy.drop(columns=['Petajoules','Gigajoules'])
Energy = Energy[['Energy Supply','Energy Supply per Capita','%']]# 两个[]
Energy

,Energy Supply,Energy Supply per Capita,%
Afghanistan,321.0,10.0,78.669280
Albania,102.0,35.0,100.000000
Algeria,1959.0,51.0,0.551010
American Samoa,NaN,NaN,0.641026
Andorra,9.0,121.0,88.695650
Angola,642.0,27.0,70.909090
Anguilla,2.0,136.0,0.000000
Antigua and Barbuda,8.0,84.0,0.000000
Argentina,3378.0,79.0,24.064520
Armenia,143.0,48.0,28.236060
Aruba,12.0,120.0,14.870690
Australia1,5386.0,231.0,11.810810
Austria,1391.0,164.0,72.452820
Azerbaijan,567.0,60.0,6.384345
Bahamas,45.0,118.0,0.000000
Bahrain,574.0,425.0,0.000000
Bangladesh,1625.0,10.0,1.966329
Barbados,19.0,69.0,0.000000
Belarus,1142.0,120.0,0.463389
Belgium,2338.0,210.0,9.959739
Belize,13.0,39.0,64.690030
Benin,170.0,16.0,0.000000
Bermuda,6.0,88.0,0.000000
Bhutan,63.0,83.0,100.000000
Bolivia (Plurinational State of),336.0,32.0,31.477120
"Bonaire, Sint Eustatius and Saba",5.0,213.0,0.000000
Bosnia and Herzegovina,266.0,70.0,41.464670
Botswana,86.0,39.0,0.131406
Brazil,12149.0,59.0,69.648030
British Virgin Islands,2.0,85.0,0.000000
...,...,...,...
Switzerland17,1113.0,136.0,57.745480
Syrian Arab Republic,542.0,28.0,11.568270
Tajikistan,106.0,13.0,99.742920
Thailand,5336.0,79.0,4.305189
The former Yugoslav Republic of Macedonia,117.0,56.0,26.140470
Timor-Leste,7.0,6.0,0.000000
Togo,134.0,19.0,80.180180
Tonga,3.0,28.0,0.000000
Trinidad and Tobago,824.0,611.0,0.000000
Tunisia,430.0,39.0,3.492547
Turkey,4897.0,64.0,28.536690
Turkmenistan,1102.0,210.0,0.000000
Turks and Caicos Islands,3.0,85.0,0.000000
Tuvalu,NaN,NaN,0.000000
Uganda,452.0,12.0,68.018180
Ukraine18,4844.0,107.0,8.067312
United Arab Emirates,2710.0,300.0,0.000000
United Kingdom of Great Britain and Northern Ireland19,7920.0,124.0,10.600470
United Republic of Tanzania,994.0,20.0,31.072840
United States of America20,90838.0,286.0,11.570980
United States Virgin Islands,NaN,NaN,0.000000
Uruguay,196.0,58.0,71.605040
Uzbekistan,1798.0,62.0,21.328410
Vanuatu,3.0,10.0,14.705880
Venezuela (Bolivarian Republic of),2871.0,95.0,67.834520
Viet Nam,2554.0,28.0,45.321520
Wallis and Futuna Islands,0.0,26.0,0.000000
Yemen,344.0,13.0,0.000000
Zambia,400.0,26.0,99.714670
Zimbabwe,480.0,32.0,52.536120