# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from assets/wikipedia_data.html and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in assets/nfl.csv), MLB (baseball, in assets/mlb.csv), NBA (basketball, in assets/nba.csv or NHL (hockey, in assets/nhl.csv). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: what is the win/loss ratio's correlation with the population of the city it is in? Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with pearsonr, so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%*4=80%) of the grade for this assignment. You should only use data from year 2018 for your analysis -- this is important!

## Notes
Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

In [164]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import re

In [165]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [166]:
teams = cities['NHL'].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')               
teams['Metropolitan area'] = cities['Metropolitan area']
teams = pd.melt(teams, id_vars=['Metropolitan area']).replace('',np.nan).dropna().rename(columns={'value':'team'}).reset_index().drop(columns=['variable','index'])

In [167]:
teams = teams.merge(cities,how = 'left',on = 'Metropolitan area').iloc[:,0:3].rename(columns={'Population (2016 est.)[8]':'Population'})
teams = teams.astype({'Metropolitan area':str,'team':str,'Population':int})
teams['team']=teams['team'].str.replace('[\w.]*\ ','')
teams.head()

        Metropolitan area        team  Population
0           New York City     Rangers    20153634
1             Los Angeles       Kings    13310447
2  San Francisco Bay Area      Sharks     6657982
3                 Chicago  Blackhawks     9512999
4       Dallas–Fort Worth       Stars     7233323

In [168]:
nhl_df=pd.read_csv("assets/nhl.csv")
nhl_df = nhl_df[nhl_df['year']==2018]
nhl_df = nhl_df[nhl_df['GP'].apply(lambda x:x.isnumeric())]
nhl_df = nhl_df[['team','W','L']]
nhl_df['team'] = nhl_df['team'].apply(lambda x: x.split(' ')[-1].strip('*'))
nhl_df = nhl_df.astype({'W':int,'L':int})
nhl_df['W/L%'] = nhl_df['W']/(nhl_df['W']+nhl_df['L'])

In [169]:
nhl_df.head()

        team   W   L      W/L%
1  Lightning  54  23  0.701299
2     Bruins  50  20  0.714286
3      Leafs  49  26  0.653333
4   Panthers  44  30  0.594595
5      Wings  30  39  0.434783

In [170]:
merge = pd.merge(teams,nhl_df,how = 'outer', on = 'team')
merge

         Metropolitan area        team  Population   W   L      W/L%
0            New York City     Rangers    20153634  34  39  0.465753
1              Los Angeles       Kings    13310447  45  29  0.608108
2   San Francisco Bay Area      Sharks     6657982  45  27  0.625000
3                  Chicago  Blackhawks     9512999  33  39  0.458333
4        Dallas–Fort Worth       Stars     7233323  42  32  0.567568
5         Washington, D.C.    Capitals     6131977  49  26  0.653333
6             Philadelphia      Flyers     6070500  42  26  0.617647
7                   Boston      Bruins     4794447  50  20  0.714286
8   Minneapolis–Saint Paul        Wild     3551036  45  26  0.633803
9                   Denver   Avalanche     2853077  43  30  0.589041
10   Miami–Fort Lauderdale    Panthers     6066387  44  30  0.594595
11                 Phoenix     Coyotes     4661537  29  41  0.414286
12                 Detroit       Wings     4297617  30  39  0.434783
13                 Toronto       Leafs     5928040  49  26  0.653333
14          Tampa Bay Area   Lightning     3032171  54  23  0.701299
15              Pittsburgh    Penguins     2342299  47  29  0.618421
16               St. Louis       Blues     2807002  44  32  0.578947
17               Nashville   Predators     1865298  53  18  0.746479
18                 Buffalo      Sabres     1132804  25  45  0.357143
19                Montreal   Canadiens     4098927  29  40  0.420290
20               Vancouver     Canucks     2463431  31  40  0.436620
21                Columbus     Jackets     2041520  45  30  0.600000
22                 Calgary      Flames     1392609  37  35  0.513889
23                  Ottawa    Senators     1323783  28  43  0.394366
24                Edmonton      Oilers     1321426  36  40  0.473684
25                Winnipeg        Jets      778489  52  20  0.722222
26               Las Vegas     Knights     2155664  51  24  0.680000
27                 Raleigh  Hurricanes     1302946  36  35  0.507042
28           New York City   Islanders    20153634  35  37  0.486111
29             Los Angeles       Ducks    13310447  44  25  0.637681
30           New York City      Devils    20153634  44  29  0.602740

In [171]:
merge = merge.groupby('Metropolitan area').agg({'W/L%':np.nanmean,'Population':np.nanmean})
merge

                            W/L%  Population
Metropolitan area
Boston                  0.714286     4794447
Buffalo                 0.357143     1132804
Calgary                 0.513889     1392609
Chicago                 0.458333     9512999
Columbus                0.600000     2041520
Dallas–Fort Worth       0.567568     7233323
Denver                  0.589041     2853077
Detroit                 0.434783     4297617
Edmonton                0.473684     1321426
Las Vegas               0.680000     2155664
Los Angeles             0.622895    13310447
Miami–Fort Lauderdale   0.594595     6066387
Minneapolis–Saint Paul  0.633803     3551036
Montreal                0.420290     4098927
Nashville               0.746479     1865298
New York City           0.518201    20153634
Ottawa                  0.394366     1323783
Philadelphia            0.617647     6070500
Phoenix                 0.414286     4661537
Pittsburgh              0.618421     2342299
Raleigh                 0.507042     1302946
San Francisco Bay Area  0.625000     6657982
St. Louis               0.578947     2807002
Tampa Bay Area          0.701299     3032171
Toronto                 0.653333     5928040
Vancouver               0.436620     2463431
Washington, D.C.        0.653333     6131977
Winnipeg                0.722222      778489

In [172]:
stats.pearsonr(merge['Population'], merge['W/L%'])

(0.0124861629212099, 0.9497182859911673)