# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from assets/wikipedia_data.html and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in assets/nfl.csv), MLB (baseball, in assets/mlb.csv), NBA (basketball, in assets/nba.csv or NHL (hockey, in assets/nhl.csv). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: what is the win/loss ratio's correlation with the population of the city it is in? Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with pearsonr, so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%*4=80%) of the grade for this assignment. You should only use data from year 2018 for your analysis -- this is important!

## Notes
Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

# Q1

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import re

In [3]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

teams = cities['NHL'].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')               
teams['Metropolitan area'] = cities['Metropolitan area']
teams = pd.melt(teams, id_vars=['Metropolitan area']).replace('',np.nan).dropna().rename(columns={'value':'team'}).reset_index().drop(columns=['variable','index'])

teams = teams.merge(cities,how = 'left',on = 'Metropolitan area').iloc[:,0:3].rename(columns={'Population (2016 est.)[8]':'Population'})
teams = teams.astype({'Metropolitan area':str,'team':str,'Population':int})
teams['team']=teams['team'].str.replace('[\w.]*\ ','')

nhl_df=pd.read_csv("assets/nhl.csv")
nhl_df = nhl_df[nhl_df['year']==2018]
nhl_df = nhl_df[nhl_df['GP'].apply(lambda x:x.isnumeric())]
nhl_df = nhl_df[['team','W','L']]
nhl_df['team'] = nhl_df['team'].apply(lambda x: x.split(' ')[-1].strip('*'))
nhl_df = nhl_df.astype({'W':int,'L':int})
nhl_df['W/L%'] = nhl_df['W']/(nhl_df['W']+nhl_df['L'])

merge = pd.merge(teams,nhl_df,how = 'outer', on = 'team')

merge = merge.groupby('Metropolitan area').agg({'W/L%':np.nanmean,'Population':np.nanmean})

In [9]:
stats.pearsonr(merge['Population'], merge['W/L%'])

(0.0124861629212099, 0.9497182859911673)

In [ ]:
%reset

## Q2 
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the NBA using 2018 data.

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import re

In [114]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
teams = cities['NBA'].str.extract('([A-Z0-9]{0,2}\w*\ [A-Z]{0,2}\w*|[A-Z0-9]{0,2}[a-z]*)([A-Z0-9]{0,2}\w*|[A-Z0-9]{0,2}\s\w*)')
teams['Metropolitan area'] = cities['Metropolitan area']
teams = pd.melt(teams,id_vars='Metropolitan area').reset_index().drop(columns=['variable','index']).replace('',np.nan).dropna().rename(columns={'value':'team'})
teams = teams.merge(cities,how = 'left', on = 'Metropolitan area').iloc[:,[0,1,2]].rename(columns={'Population (2016 est.)[8]':'Population'}).astype({'Population':int})
teams['team'] = teams['team'].apply(lambda x: x.split(' ')[-1])

nba_df = pd.read_csv("assets/nba.csv")
nba_df = nba_df[nba_df['year']==2018]
nba_df = nba_df.iloc[:,[0,1,2]]
nba_df['team'] = nba_df['team'].apply(lambda x: x.split('(')[0])
nba_df['team'] = nba_df['team'].apply(lambda x: x.split('*')[0])
nba_df['team'] = nba_df['team'].apply(lambda x: x.split(' ')[-1].strip())
nba_df = nba_df.astype({'W':int,'L':int})
nba_df['W/L%'] = nba_df['W']/(nba_df['W']+nba_df['L'])

merge = pd.merge(nba_df,teams,how = 'left',on = 'team')
merge = merge.groupby('Metropolitan area').agg({'W/L%':np.mean,'Population':np.mean})
merge['Population'].shape

In [119]:
stats.pearsonr(merge['Population'], merge['W/L%'])

(-0.17657160252844617, 0.3687474160446289)

In [120]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the MLB using 2018 data.

In [122]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import re

In [203]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
teams = cities['MLB'].str.extract('([A-Z]{0,2}[a-z]*\ [A-Z]{0,2}[a-z]*|[A-Z]{0,2}[a-z]*)([A-Z]{0,2}[a-z]*\ [A-Z]{0,2}[a-z]*|[A-Z]{0,2}[a-z]*)([A-Z]{0,2}[a-z]*)([A-Z]{0,2}[a-z]*)([A-Z]{0,2}[a-z]*)([A-Z]{0,2}[a-z]*)')
teams['Metropolitan area'] = cities['Metropolitan area']
teams = pd.melt(teams,id_vars='Metropolitan area').replace('',np.nan).dropna().reset_index().drop(columns=['index','variable']).rename(columns={'value':'team'})
teams = teams.merge(cities,how='left',on = 'Metropolitan area').iloc[:,[0,1,2]].rename(columns={'Population (2016 est.)[8]':'Population'}).astype({'Population':int})
teams['team'] = teams['team'].apply(lambda x:x.split(' ')[-1].strip())
teams['team'].iloc[7] = 'Red Sox'

mlb_df = pd.read_csv("assets/mlb.csv")
mlb_df = mlb_df[mlb_df['year']==2018].iloc[:,[0,1,2]]
mlb_df['team'] = mlb_df['team'].apply(lambda x:x.split(' ')[-1].strip())
mlb_df = mlb_df.astype({'W':int,'L':int})
mlb_df['W/L%']= mlb_df['W']/(mlb_df['W']+mlb_df['L'])
mlb_df['team'].iloc[0] = 'Red Sox'

merge = pd.merge(mlb_df,teams,how ='left',on = 'team')
merge = merge.groupby('Metropolitan area').agg({'W/L%':np.nanmean,'Population':np.nanmean})

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [213]:
stats.pearsonr(merge['Population'],merge['W/L%'])[0]

0.15027698302669304

In [217]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the NFL using 2018 data.

In [218]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import re

In [254]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
teams = cities['NFL'].str.extract('([A-Z0-9]{0,2}\w*\ [A-Z]{0,2}\w*|[A-Z0-9]{0,2}[a-z]*)([A-Z0-9]{0,2}\w*|[A-Z0-9]{0,2}\s\w*)')
teams['Metropolitan area'] = cities['Metropolitan area']
teams = pd.melt(teams,id_vars='Metropolitan area').reset_index().drop(columns=['variable','index']).replace('',np.nan).dropna().rename(columns={'value':'team'})
teams = teams.merge(cities,how = 'left', on = 'Metropolitan area').iloc[:,[0,1,2]].rename(columns={'Population (2016 est.)[8]':'Population'}).astype({'Population':int})
teams['team'] = teams['team'].apply(lambda x: x.split(' ')[-1])

teams.head()

nfl_df = pd.read_csv('assets/nfl.csv')
nfl_df = nfl_df[nfl_df['year']==2018][['team','W','L']]
nfl_df = nfl_df[nfl_df['W'].apply(lambda x:x.isnumeric())].astype({'W':int,'L':int})
nfl_df['team'] = nfl_df['team'].apply(lambda x: x.strip('*+'))
nfl_df['team'] = nfl_df['team'].apply(lambda x: x.split(' ')[-1])
nfl_df['W/L%'] = nfl_df['W']/(nfl_df['W']+nfl_df['L'])

merge = pd.merge(nfl_df,teams,how = 'left',on = 'team')
merge = merge.groupby('Metropolitan area').agg({'W/L%':np.nanmean,'Population':np.nanmean})
merge

                            W/L%  Population
Metropolitan area
Atlanta                 0.437500     5789700
Baltimore               0.625000     2798886
Boston                  0.687500     4794447
Buffalo                 0.375000     1132804
Charlotte               0.437500     2474314
Chicago                 0.750000     9512999
Cincinnati              0.375000     2165139
Cleveland               0.466667     2055612
Dallas–Fort Worth       0.625000     7233323
Denver                  0.375000     2853077
Detroit                 0.375000     4297617
Green Bay               0.400000      318236
Houston                 0.687500     6772470
Indianapolis            0.625000     2004230
Jacksonville            0.312500     1478212
Kansas City             0.750000     2104509
Los Angeles             0.781250    13310447
Miami–Fort Lauderdale   0.437500     6066387
Minneapolis–Saint Paul  0.533333     3551036
Nashville               0.562500     1865298
New Orleans             0.812500     1268883
New York City           0.281250    20153634
Philadelphia            0.562500     6070500
Phoenix                 0.187500     4661537
Pittsburgh              0.600000     2342299
San Francisco Bay Area  0.250000     6657982
Seattle                 0.625000     3798902
Tampa Bay Area          0.312500     3032171
Washington, D.C.        0.437500     6131977

In [252]:
stats.pearsonr(merge['Population'],merge['W/L%'])[0]

0.004922112149349405

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports.** How I would like to see this explored is with a series of paired t-tests (so use ttest_rel) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.