In [1]:
# For completing quizs in course Introduction to Date Science in Python

In [2]:
import numpy as np
import pandas as pd

In [11]:
frames = ['P2010', 'P2011', 'P2012', 'P2013','P2014', 'P2015']
df = pd.DataFrame(np.random.randint(0,1000,size = (4,6)),columns=frames)
df

   P2010  P2011  P2012  P2013  P2014  P2015
0    608    607    266    475    252     95
1    125    901    931    349    218    710
2    973    282    103    180    281     42
3    983    311    340    894    304    192

In [12]:
df['AVG'] = df[frames].apply(lambda z: np.mean(z), axis = 1).astype(int)

In [13]:
df

   P2010  P2011  P2012  P2013  P2014  P2015  AVG
0    608    607    266    475    252     95  383
1    125    901    931    349    218    710  539
2    973    282    103    180    281     42  310
3    983    311    340    894    304    192  504

In [14]:
result_df = df.drop(frames,axis = 1)

In [15]:
result_df

   AVG
0  383
1  539
2  310
3  504